<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Car Django Application</title>
</head>
<body>
    <h1>Car Price Prediction</h1>
    <form action="result">
        Present Price (Lacs): <input type="number" name="Present_Price" value="12" required><br>
        Kilometers Driven: <input type="number" name="Kms_Driven" value="1" required><br>
        Years Old: <input type="number" name="Years_Old" value="1" required><br>
        <input type="submit" value="Submit">
    </form>
</body>
</html>
